<!-- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" /> -->
<h1>Lets create a Cryptid!</h1>
<!-- <form method="POST" action="/cryptids">
<label for="cryptidType"></label>
</form> -->

<form method="POST" action="/cryptids">
    <label for="cryptidType">Type</label>
    <input type="text" name="type">
  
    <label for="cryptidName">Name</label>
    <input id="cryptidName" type="text" name="name">
  
    <input id="cryptidType" type="submit">
  </form>