<h1>Lets create a dino!</h1>
<!-- <form method="POST" action="/dinosaurs">
<label for="dinosaurType"></label>
</form> -->

<form method="POST" action="/dinosaurs">
    <label for="dinosaurType">Type</label>
    <input type="text" name="type">
  
    <label for="dinosaurName">Name</label>
    <input id="dinosaurName" type="text" name="name">
  
    <input id="dinosaurType" type="submit">
  </form>